/* ------------------------------------------ colors
	main orange  ff7b00
	dk bright orange ff3a00
 	dk dull orange e85200
 	lt dull orange e8900c
 	yellow orange ffb40d---------------------------------- */
 
 	
body{
	max-width:960px; 
	font-family: 'Scada', sans-serif;
	font-size:100%;
	margin: 0 auto;
	background-color: #4f4f4f;
	background-image: url('../images/bggrade.jpg');
	background-repeat:repeat-x;
}

#wrapper{
	width:100%;
	margin: 0 auto;
	overflow: hidden;
}
/*general site elements--------------------------------------------------------------------*/

#centerpic{
	padding: 0% 20.833333333333%; /*0px 200px;*/
	max-width: 60%;/*width="576" height="360"*/
	}
	
#centerpic img{
	max-width:100%;
}
	
ul{
	list-style-type:square;
	}

a{
	padding-top: 0%;
	}
	
a:link, a:visited{
	color: #ff7b00;
	}

a:hover, a:active{
	color: #055A27;
	text-shadow: 1px 1px 10px #000000;
	}
	
article{
	background-color:#ffffff;
	margin:0 auto;
	}
	
#indeximage{
	margin:30px 30px 15px 30px;
	border:10px solid #4f4f4f;
	width: 48.958333333333%; /*470/960*/
	float:left;
	}
	
#indeximage img{
	max-width:100%;
	}
	
article{
	clear:left;
	padding:0px 20px;
	}

#maincontent{
	background-color:#ffffff;
	opacity;0.4;
	margin:0 auto;
	}
	
h2{
	padding: 30px 20px 20px 20px;
	margin: 0px;
	font-size: 1.5em;
	}

p{
	padding: 20px;
	margin:0px;
	font-size:1em:
	}
	
h3{
	padding: 10px;
	margin: 0px;
	font-size:1.17em;
	}
	
dl{
	padding-bottom: 20px;
	margin: 0px;
	font-size:1em;
	}
dt{
	background-color: #ffb40d;
	padding-left: 20px;
	font-size:1em;
	}
	
dd{
	background color: #A4A4A4;
	font-size:1em;
	}
	
aside h2{
	font-size: 2.125em;
	padding: 2.083333333333% 9.6%; /*20px 100px;*/
	}
	
aside p{
	font-size: 1.5em;
	color: #ffffff;
	}
	
aside{
	max-width: 100%;
	background-image: url("../images/ontheroad.jpg");
	background-overflow: hidden;
	background-repeat: none;
	color: #ffffff;
	}

aside a:link, aside a:visited{
	color: #ffffff;
	}
	
aside a:hover, aside a:active{
	color: #055A27;
	text-shadow: 1px 1px 10px #000000;
	}
	
article{
	background-color:#ffffff;
	margin:0 auto;

	}
	
/* general site elements end---------------------------------------------------------------*/

/*------------------------------------------------------------------------------------header*/

header{
	background-color: #ff7b00;
	}

h1{
	background-color: #ff7b00;
	font-size: 2em;
	text-shadow: 1px 1px 10px #ffb40d;
	line-height: 1.875em; /*60px;*/
	text-align: center;
	color: #000000;
	width: 400px;
	height: 1.875em; /*60px;*/
	margin: 0 auto;
	float: left;
	}
	
h1 a:link, h1 a:visited{
	text-decoration:none;
	color: #000000;
	width: 400px;
	height: 2em; /*60px;*/
	}
	
h1 a:hover, h1 a:active{
	color: #ffffff;
	text-shadow: 1px 1px 10px #ff3a00;
	width: 400px;
	height: 2em; /*60px;*/
	}
	
/*---------------------------------------------------------------------------------------nav*/

nav ul{
	clear:float;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	width: 58.333333333333%;
	}
	
nav li{
	float:left;
	}
	
nav a:link, nav a:visited{
	display:block;
	padding: 0% 20%;
	width: 100%; /*100px;*/
	height: 3.75em; /*60px;*/
	font-weight:bold;
	color:#000000;
	background-color:#ff7b00;
	text-align: left;
	text-decoration:none;
	line-height: 3.75em; /*60px;*/
	}
	
nav a:hover, nav a:active{
	color: #ffffff;
	background-color:#e85200;
	text-shadow: 1px 1px 10px #ff3a00;
	}

/* end nav-------------------------------------------*/


/* contact page columns-----------------------------------------------------------------*/

.newspaper
{
-moz-column-count:4; /* Firefox */
-webkit-column-count:4; /* Safari and Chrome */
column-count:4;

-moz-column-gap:10px; /* Firefox */
-webkit-column-gap:10px; /* Safari and Chrome */
column-gap:10px;
}


/*   contact page columns end------------------------------------------------------------*/

/* equipmentgallery-----------------------------------------------------------------------*/

#equipmentgallery ul{
	width: 79.166666666667%; /*760px;*/
	border: 2.083333333333%; /*20px;*/
	margin: 3.937368421053% 12.5% /*30px 95px;*/
	border-color: #e85200;
	display: block;
	}
	
#equipmentgallery li{
	float: left;
	margin: 1.45833333333333%; /*14px;*/
	padding: 10px;
	display: block;
}

#equipmentgallery a{
	border-width: 10px;
	border-color: #e85200;
	display: block;
	height: 109px;
	width: 20.833333333333%; /*200px;*/
}

#equipmentgallery img{
	border: 6px solid #e85200;
	opacity: 0.7;
}

#equipmentgallery li{
	list-style-type:none;
	display: block;
	padding:0px;
}

#equipmentgallery img:hover{
	border: 6px solid #e8900c;
	opacity: 1;
}

.clearleft{
	clear:left;
	}

/* end gallery---------------------------------------------------------------------*/

/* equipmentgallery-----------------------------------------------------------------------*/

	
#peoplenetgallery ul{
	margin: 20px 20px 0px 20px;
	display: block;
	background-color:#ffffff;
	}
	
#peoplenetgallery li{
	float: left;
	margin: 20px 20px 20px 100px;
	padding: 10px 0px 10px 100px;
	display: block;
}

#peoplenetgallery a{
	border-width: 10px;
	border-color: #e85200;
	display: block;
	height: 200px;
	width: 252px;
}

#peoplenetgallery img{
	border: 6px solid #e85200;
	opacity: .7;
}

#peoplenetgallery li{
	list-style-type:none;
	display: inline-block;
	padding:0px;
}

#peoplenetgallery img:hover{
	border: 6px solid #e8900c;
	opacity: 1;
}


/* end gallery---------------------------------------------------------------------*/

/* button--------------------------------------------------------------------------*/

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 24px/100%;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 20px;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.orange a:link, .orange a:visited{
	color: #ffffff;
	}

.orange a:hover, .orange a:active{
	color: #055A27;
	text-shadow: 1px 1px 10px #000000;
	}
	
/*-----------------------------------------------end button--------------------------*/

/* footer---------------------------------------------------------------------------*/

footer{
	width:100%;
	}
	
footer ul{
	width: 100%;
	clear:left;
	font-size: 1em;
	background-color:#ff7b00;
	list-style-type:none;
	margin: 0;
	padding:2.083333333333% 0% 2.083333333333% 0%;/*20px 0px 20px 0px;*/
	overflow:hidden;
	}
	
footer li{
	display: inline-block;
	float:left;
	margin: 0%;
	width: 33.333333333%;
	text-align: center;
	}
	
	
/* end footer------------------------------------------------------------------------*/

/* ----------media queries------------------------------------------------------------*/

/*tablet portrait size to standard 960 (devices & browsers)*/
@media screen and (min-width:768px) and (max-width:959px){

	h1{
	float: none;
	
	}
	
	nav ul{
	width: 100%;
	}
 	
 	nav li{
 	width: 20%;
 	}
 	
 	.newspaper
	{
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	
	-moz-column-gap: 1.0416666666666667%; /*10px; Firefox */
	-webkit-column-gap:1.0416666666666667%; /*10px; Safari and Chrome */
	column-gap:1.0416666666666667%; /*10px;*/
	}
}

/* mobile landscape size to tablet portrait size (devices and browsers)*/
@media only screen and (min-width:480px) and (max-width:767px) {
	
	h1{
	float: none;
	
	}
	
	nav ul{
	width: 100%;
	}
 	
 	nav li{
 	width: 20%;
 	}
 	
 	nav a{
 	padding: 0% 10%;
 	}
 	
 	.newspaper
	{
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	
	-moz-column-gap: 1.0416666666666667%; /*10px; Firefox */
	-webkit-column-gap:1.0416666666666667%; /*10px; Safari and Chrome */
	column-gap:1.0416666666666667%; /*10px;*/
	}


}


/*mobile portrait size to mobile landscape size (devices and browsers)*/
@media only screen and (max-width: 479px) {

	h1{
	float: none;
	}
	
	h2, h3{
	text-align: center;
	}
	
	nav ul{
	width: 100%;
	}
 	
 	nav li{
 	width: 20%;
 	}
 	
 	nav a{
 	padding: 0% 10%;
 	}
 	
 	.newspaper
	{
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;
	}
	
	#indeximage{
	float:none;
	width: 80%;
	}
	
}