/* ------------------------------------------ colors
	main orange  ff7b00
	dk bright orange ff3a00
 	dk dull orange e85200
 	lt dull orange e8900c
 	yellow orange ffb40d-- */
 
 	
body{
	width: 960px;
	font-family: 'Scada', sans-serif;
	margin: 0 auto;
	background-color: #fff;
}

/*---------------------------------------------header*/
header{
	background-color: #ff7b00;
	}

h1{
	background-color: #ff7b00;
	text-shadow: 1px 1px 10px #ffb40d;
	line-height: 60px;
	text-align: center;
	color: #00000000;
	width: 400px;
	height: 60px;
	margin: 0 auto;
	float: left;
	}
	
h1 a:link,a:visited{
	text-decoration:none;
	width: 400px;
	height: 60px;
	}
	
h1 a:hover,a:active{
	text-shadow: 1px 1px 10px #ff3a00;
	}
/*--------------------------------------------nav*/

nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	}
	
nav ul li{
	float:left;
	}
	
nav ul li a:link,a:visited{
	display:block;
	width:100px;
	height:60px;
	font-weight:bold;
	color:#000000;
	background-color:#ff7b00;
	text-align:center;
	text-decoration:none;
	line-height: 60px;
	}
	
nav ul li a:hover,a:active{
	background-color:#e85200;
	}

/* end nav-------------------------------------------*/

div#indeximage{
	float:left;
	margin:30px;
	padding;10px;
	border:10px solid #4f4f4f;
	float:left;
	}

/* equipmentgallery-----------------------------------------------------------------------*/

div#equipmentgallery ul li{
	float: left;
	margin: 14px;
	padding: 10px;
	display: block;
}

div#equipmentgallery ul li a{
	border-width: 10px;
	border-color: #e85200;
	display: block;
	height: 140px;
	width: 100px;
}

div#equipmentgallery img{
	border: 6px solid #e85200;
}

div#equipmentgallery li{
	list-style-type:none;
	display: inline-block;
	padding:0px;
}

div#equipmentgallery img:hover{
	border: 6px solid #e8900c;
}

.clearleft{
	clear:left;
	}

/* end gallery---------------------------------------------------------------------*/

/* footer---------------------------------------------------------------------------*/

footer ul{
	background-color:#ff7b00;
	list-style-type:none;
	margin:auto;
	padding:0;
	overflow:hidden;
	}
	
footer ul li{
	display: block-inline;
	float:left;
	margin: 0px 90px 0px 90px;
	}
	
	
/* end footer------------------------------------------------------------------------*/